
.box{
    min-height: 20px;
    /* background-color: green; */
    /* border: 1px solid black; */
}

.box-nested-1{
    min-height: 20px;
    background-color: white;
    /* border: 1px solid black; */
}

.box-nested-2{
    min-height: 20px;
    background-color: rgb(253, 38, 0);
    /* border: 1px solid black; */
}

.box-nested-3{
    min-height: 20px;
    background-color: yellow;
    /* border: 1px solid black; */
}

.box-nested-4{
    min-height: 20px;
    background-color: black;
    /* border: 1px solid white; */
}

.box-nested-5{
    min-height: 20px;
    background-color: grey;
    /* border: 1px solid black; */
}

.box-nested-6{
    min-height: 20px;
    background-color: rgb(226, 156, 109);
    /* border: 1px solid black; */
}

.container-restricted{
    border: 3px solid gold;
}

.h1{
    font-weight: bold;
}


