
.box{
    min-height: 200px;
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
}

.box-nested{
    min-height: 200px;
    background-color: rgb(235, 125, 143);
    border: 1px solid white;
}







